<div class="page-header" style="margin-top: 0px">
	<h1><center>"We get fibre built to you"</center></h1>
</div>

<div class="panel-group" id="accordion">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
	        	<a data-toggle="collapse" data-parent="#accordion" data-target="#intro" href="">
	        	Whats going on?</a>
	      	</h4>
    	</div>
    	<div id="intro" class="panel-collapse collapse">
		  	<div class="panel-body">
		  		The demand for fast, reliable fixed broadband in South Africa has skyrocketed!  A quick look around indicates that demand exceeds supply…..BUT the problem is that fibre infrastructure companies will only build fibre to your home when sufficient demand is created in your area – it has to make business sense for them to build.  
		  	</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
	        	<a data-toggle="collapse" data-parent="#accordion" data-target="#work" href="">
	        	How does it work?</a>
	      	</h4>
    	</div>
    	<div id="work" class="panel-collapse collapse">
		  	<div class="panel-body">
		  		The way that fibre to the home/business (FTTx) works is simple.  There are companies that build open access fibre to your area, and there are companies (called ISP’s) that provide services (e.g. broadband internet, video, voice) over this infrastructure to you. Some do both.  The majority of fibre infrastructure providers are open access – which means that any ISP that has an agreement with them can provide you with super fast access. <br><br>

				This is great for places where infrastructure is built or is going to be built soon, but why does it feel like these infrastructure providers are not listening to you? Why are they not building fibre to you even though you have shown demand?  Are you not important enough?  Are you not living in an area “deserving” enough?  Are there not enough people in your area that are showing demand (even though all of your neighbours say they want it)?<br><br>

				The answer is simple….DILUTION.  
	  		</div>
	  	</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
	        	<a data-toggle="collapse" data-parent="#accordion" data-target="#problem" href="">
	        	What is the problem?</a>
	      	</h4>
    	</div>
    	<div id="problem" class="panel-collapse collapse">
		  	<div class="panel-body">
				Simply put, there are far too many places to indicate your interest – practically all ISP’s and network providers give you the ability to do this.  However, for the true demand to be shown to any one of these providers they have to have the FULL picture.  Lets take an example:
				<ul>
					<li>Assume that the business case for any fibre infrastructure provider requires that demand in an area needs to be at least 30%.  </li>
					<li>If we take a hypothetical area that has 100 people, that means that 30 people need to be interested in fibre for it to be built.  </li>
					<li>Assume that these 30 people show their interest to fibre infrastructure providers via ISP’s or directly to the infrastructure providers.</li>
					<li>Now lets do the maths – if each of the 30 people go to the 10 (its probably more) different places to log interest, then your neighbouhood will only have an interest shown of 3 per infrastructure provider.  </li>
					<li>In other words, while the demand is 30%, it is only shown as 3%!</li>
				</ul>

				Now apply the same logic to a similar size area where all 100 people want fibre – the dilution factor (in the worst case) results in 10% interest only.  Yet, it is almost guaranteed that any provider that gets 100% interest will build to your area immediately! <br><br>

				Can you see the problem?
			</div>
	  	</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
	        	<a data-toggle="collapse" data-parent="#accordion" data-target="#solution" href="">
	        	What is the solution?</a>
	      	</h4>
    	</div>
    	<div id="solution" class="panel-collapse collapse">
		  	<div class="panel-body">
		  		This is where we come in.  At www.fibrecentral.co.za we want to create a central place for you to show you interest.  Once we have the numbers coming in we will communicate with the fibre infrastructure providers to show them where you want service – we will share this with any of the providers that are interested.  <br><br>

				Once you have fibre, you will need to know who to pick for an ISP.  We are therefore also planning to create for you a central place where you can review all of the ISP offers in the market and where you can have the luxury of comparing them to make the best choice.  Even better, we will create a rating system for you to rate your ISP or fibre provider once the service is up and running so that others are aware of who is the best and who is not!<br><br>

				It is very important to understand that we are <b>NOT AFFILIATED</b> to any of the ISP’s or infrastructure providers.  We will have relationships with those that want to take your collective inputs, but we are <b>NEUTRAL</b> and will always be neutral as we have your best interest at heart.<br><br>

				So go ahead, use the portal below or send us an email on interest@fibrecentral.co.za and tell us where you want the service delivered and what your contact number is – we will make sure the message gets delivered.  Even better, tell your friends, family, colleagues and neighbours to do the same.  The faster we get the numbers for your area, the faster we can get the message to the people who build!  The service we provide you is free to you.
			</div>
	  	</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
	        	<a data-toggle="collapse" data-parent="#accordion" data-target="#tandcs" href="">
	        	Terms and Conditions</a>
	      	</h4>
    	</div>
    	<div id="tandcs" class="panel-collapse collapse">
		  	<div class="panel-body">
		  		We ensure security of personal information shared with us on www.fibrecental.co.za. We will share all or subsets of this information with infrastructure provides or related providers to prompt fibre deployments within your area.
			</div>
	  	</div>
	</div>

</div>